/* === ESTILO GERAL === */
body {
  font-family: Arial, sans-serif; /* === DEFINE A FONTE DAS LETRAS===*/
  background-color: #a7a78d; /* === DEFINE A COR DE FUNDO===*/
  color: #333; /* === DEFINE A COR DAS LETRAS ===*/
  max-width: 800px; /* === DEFINE A LARGURA MÁXIMA DO ELEMENTO ===*/
  margin: auto; /* === CENTRALIZA O ELEMENTO VERTICALMENTE ===*/
  padding: 16px; /* === É O ESPAÇO INTERNO ENTRE O CONTEÚDO DE UM ELEMENTO E SUA BORDA ===*/
}

h2 {
  color: #5f5f5f;
  margin-bottom: 10px; /* === DEFINE O ESPAÇAMENTO EXTERNO ABAIXO DO ELEMENTO ===*/
  
}

/* === INPUTS === */
input[type="text"],
input[type="email"] {
  width:90%;
  padding: 15px;
  margin: 10px  20px 0; /* === ESPAÇAMENTO EXTERNO ATÉ A MARGEM SUPERIOR, DOS LADOS E INFERIOR ===*/
  border: 5px solid #753838; /* === LARGURA, ESTILO E COR DA BORDA DO ELEMENTO ===*/
  border-radius: 15px; /* === ARREDONDAMENTO DA BORDA ===*/
  box-sizing: border-box; 
  transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #c00e44;
  outline: none;
}

/* === BOTÕES === */
button {
  background-color: #a5a09d;
  color: #161010;
  padding: 10px 20px;
  margin: 5px 5px 10px 0;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #a5a09d;
}

/* === BLOCO DE SEÇÕES === */
#funcoes-auxiliares,
#sessao-adicionar-contato,
#formulario-de-edicao {
  background-color: #461010;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px #5f1717;
}

/* === LISTA DE CONTATOS === */
#lista-de-contatos {
  list-style-type: none;
  padding: 0;
}

#lista-de-contatos li {
  background-color: #9e4f0ea6;
  box-shadow: 0 2px 5px #522704;
  color: #161010;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}